.line {
    display: block;    
    width: 24px;
    height: 2px;
    background: #ecf0f1;
    position: absolute;
}

.line1{
    top: 18px;
}

.line2{
    top: 48%;
    width:18px
}

.line3{
    top: 40px;
    width: 12px;
}

.line2:hover .line3:hover{
    width: 24px;
    transition: all 4s;
}
